<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqxCXv3FuW_4uTQM92aCisiPjdJ2uysRY</string>
	<key>GCM_SENDER_ID</key>
	<string>1043978903006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neonfirebase</string>
	<key>PROJECT_ID</key>
	<string>neonfirebase-8f69f</string>
	<key>STORAGE_BUCKET</key>
	<string>neonfirebase-8f69f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043978903006:ios:65374f370200a8396d914f</string>
</dict>
</plist>